{% extends '::base.html.twig' %}

{% block main_widget %}

{% if error %}
    <div>{{ error.message }}</div>
{% endif %}

<form class="well form-vertical" action="{{ path('login_check') }}" method="post">

    <div class="control-group">
        <label for="username">Username:</label>
        <div class="controls">
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>
    </div>

    <div class="control-group">
        <label for="password">Password:</label>
        <div class="controls">
            <input type="password" id="password" name="_password" />
        </div>
    </div>

    <!--
        Se si desidera controllare l'URL a cui l'utente viene rinviato in caso di successo (maggiori dettagli qui sotto)
        <input type="hidden" name="_target_path" value="/account" />
    -->

    <div class="form-actions">
        <input class="btn btn-primary" type="submit" name="login" value="Invia"/>
    </div>
</form>
{% endblock %}
