<!DOCTYPE html>
<html>
    {% include '::head.html.twig' %}
    <body>
        {% block notify %}{% endblock %}

        {% include '::navbar-profile.html.twig' %}
            
        <div class="subnavbar">

            <div class="subnavbar-inner">

                <div class="container">

                    <ul class="mainnav">
                        <li {% block nav_list_li_class_home %}{% endblock %}>
                            <a href="{{ path('holidays_index') }}">
                                <i class="icon-home"></i>
                                <span>Home</span>
                            </a>
                        </li>

                        <li {% block nav_list_li_class_show_all %}{% endblock %}>
                            <a href="{{ path('showall_extra_time') }}">
                                <i class="icon-list-alt"></i>
                                <span>{% trans %}Extratimes list{% endtrans %}</span>
                            </a>
                        </li>
                    </ul>

                </div> <!-- /container -->

            </div> <!-- /subnavbar-inner -->

        </div> <!-- /subnavbar -->

        <div class="main">

            <div class="main-inner">

                <div class="container">

                    <div class="row">

                        {% if app.user %}
                            <div class="span6">	
                                {% include '::shortcut-menu.html.twig' %}
                            </div> <!-- /span6 -->
                        {% endif %}

                        <div class="span6">
                            {% block main_widget %}{% endblock %}
                            {% block more_recent_widget %}{% endblock %}
                        </div> <!-- /span6 -->

                    </div> <!-- /row -->

                </div> <!-- /container -->

            </div> <!-- /main-inner -->

        </div> <!-- /main -->

        {% include '::extra-footer.html.twig' %}
        {% include '::footer.html.twig' %}

        {% block javascript_code %}{% endblock %}
    </body>

</html>


