<div class="widget">

    <div class="widget-header">
        <i class="icon-bookmark"></i>
        <h3>{% trans %}Quick Shortcuts{% endtrans %}</h3>
    </div> <!-- /widget-header -->

    <div class="widget-content">

        <div class="shortcuts">
            <a href="{{ path('create_extra_time') }}" class="shortcut">
                <i class="shortcut-icon icon-plus-sign"></i>
                <span class="shortcut-label">
                    {% trans %}Add an Extratime{% endtrans %}
                </span>
            </a>

            <a onclick="javascript: return confirm('{% trans %}Are you sure?{% endtrans %}');" href="{{ path('clearall_extra_time') }}" class="shortcut">
                <i class="shortcut-icon icon-remove-circle"></i>
                <span class="shortcut-label">
                    {% trans %}Clear all Extratimes{% endtrans %}
                </span>	
            </a>
        </div> <!-- /shortcuts -->	

    </div> <!-- /widget-content -->

</div> <!-- /widget -->


