<div class="subnavbar">

    <div class="subnavbar-inner">

        <div class="container">

            <ul class="mainnav">
                <li {% block nav_list_li_class_home %}{% endblock %}>
                    <a href="{{ path('holidays_index') }}">
                        <i class="icon-home"></i>
                        <span>Home</span>
                    </a>
                </li>

                <li {% block nav_list_li_class_show_all %}{% endblock %}>
                    <a href="{{ path('showall_extra_time') }}">
                        <i class="icon-list-alt"></i>
                        <span>{% trans %}Extratimes list{% endtrans %}</span>
                    </a>
                </li>
            </ul>

        </div> <!-- /container -->

    </div> <!-- /subnavbar-inner -->

</div> <!-- /subnavbar -->