{% extends '::base.html.twig' %}
{% block nav_list_li_class_show_all %}class="active"{% endblock %}

{% block title %}Holidays manager - {% trans %}Extratimes list{% endtrans %}{% endblock %}

{% block main_widget %}

{% include '::notification.html.twig' %}
<div class="widget widget-table action-table">

    <div class="widget-header">
        <i class="icon-th-list"></i>
        <h3>{% trans %}Extratimes list{% endtrans %}</h3>
        
    </div> <!-- /widget-header -->

    <div class="widget-content">

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{% trans %}Day{% endtrans %}</th>
                    <th>{% trans %}Extratime{% endtrans %}</th>
                    <th>{% trans %}Hours{% endtrans %}</th>
                    <th class="td-actions">{% trans %}Actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for extra_time in extra_times %}
                  {% include 'ZobaHolidaysManagerBundle:Default:extra_time-detail-row.html.twig' with {'extra_time' : extra_time} %}
                {% endfor %}
            </tbody>
        </table>

    </div> <!-- /widget-content -->

</div> <!-- /widget -->
{% endblock %}

