{% extends '::base.html.twig' %}
{% block title %}Holidays manager{% endblock %}

{% block main_widget %}
{% block nav_list_li_class_home %}class="active"{% endblock %}

{% include '::notification.html.twig' %}
<div class="widget">
    <div class="widget-header">
        <i class="icon-eye-open"></i>
        <h3>{% trans %}Extratime detail{% endtrans %}</h3>
    </div> <!-- /widget-header -->

    <div class="widget-content">
        <div class="hero-unit">
            {% include 'ZobaHolidaysManagerBundle:Default:extra_time-detail-list-row.html.twig' with {'extra_time' : extra_time} %}
            <p>
                <a class="btn btn-primary btn-large" href="{{ path('create_extra_time') }}">
                    {% trans %}Add a new extratime!{% endtrans %}
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}

